.btn-transparent {
	outline: none;
	border: 3px solid rgb(99, 226, 99);
	background-color: white;
	color: green;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
}

.font-small {
	font-size: 15px;
	color: #f1f1f1;
}

.buttons-grp {
	display: grid;
	grid-template-rows: auto;
	justify-content: space-evenly;
}
.p-transparent {
	color: grey;
}
