.adverts-main {
	display: grid;
	grid-template-rows: 10vh 80vh 10vh;
	background-color: rgb(248, 248, 248);
}

.adverts-header {
	text-align: center;
	border-bottom: 1px solid grey;
}

.adverts-body {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
