.details-main {
	display: grid;
	grid-template-rows: 35vh 55vh 10vh;
}
.details-head {
	background-image: url(../../assets/Rectangle1504.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
}
.details-head button {
	height: 45px;
	width: 45px;
	margin: 30px;
	border-radius: 50px;
}
.tt1 {
	background-image: url(../../assets/product-detail/share.png);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: transparent;
}
.tt2 {
	background-image: url(../../assets/product-detail/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: transparent;
}

.detail-footer {
	display: grid;
	grid-template-columns: 20vw 80vw;
}

.detail-footer button {
	margin: 0 auto;
}
.nn1 {
	height: 8vh;
	width: 60px;
	background-color: white;
	background-image: url(../../assets/product-detail/like.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid rgb(197, 188, 188);
	border-radius: 15px;
}

.nn2 {
	width: 70vw;
	height: 8vh;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 10px;
}
