.bank-main {
	display: grid;
	grid-template-rows: 10vh 90vh;
}

.bank-container {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, 25%);
	grid-column-gap: 10px;
	align-items: baseline;
	margin-left: 10px;
}

.bank-container img {
	height: 26px;
}
