.choose-main {
	display: grid;
	grid-template-rows: 10vh 90vh;
}

.header-bt-container {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(199, 192, 192);
}

.header-bt-container button {
	width: 50px;
	height: 50px;
	background-color: white;
	border: none;
}
.btnn1 {
	background-image: url(../../assets/x.png);
	background-repeat: no-repeat;
	background-position: center;
}
.btnn2 {
	background-image: url(../../assets/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
}
.choose-body-main {
	display: grid;
	grid-template-rows: auto;
}

.inp-labeel {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(199, 196, 196);
	margin-top: 10px;
}
