.sigin_main {
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.signin_logo {
	margin: 5vh auto 0;
}

.signin_form {
	margin: 0 auto;
}

.sign_form_container {
	width: 300px;
}
.sign_form_container input,
button {
	width: 100%;
}
.signin_title {
	color: white;
	margin-bottom: 50px;
}
