.create-main {
	display: grid;
	grid-template-rows: 40vh 60vh;
}

.btn-alone {
	width: 70vw;
	align-self: center;
	margin: auto;
}

.form-grp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
}
