.advert-main {
	display: grid;
	grid-template-rows: 10vh 90vh;
}

.advert-body {
	display: grid;
	grid-template-rows: auto;
	width: 85vw;
	margin: 0 auto;
}
.btn_rect1 {
	height: 50px;
	width: 50px;
	background-image: url(../../assets/Rectangle.png);
	background-repeat: no-repeat;
	background-color: white;
	border: none;
	border-radius: 10px;
}

.btn_rect2 {
	margin-left: 20px;
	height: 50px;
	width: 50px;
	background-image: url(../../assets/add-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	border: none;
}
.advert-body button {
	margin-bottom: 7px;
}
