.lancher_main_signin {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: space-around;
	flex-direction: column;
}

.signin-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.container-logo {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	align-self: center;
	width: 20vh;
}

.lancher_buttons_group {
	margin: 0 auto;
}
.lancher_buttons_group button {
	width: 300px;
	background-color: green;
	color: white;
}

.sign-up {
	width: 70vw;
	align-self: center;
	border: 1px black solid;
}

.signun_title {
	color: white;
	margin-bottom: 50px;
}
.input-icon1 {
	background: url(../../assets/user.png) no-repeat;
	right: 0;
	background-position: right;
}

.input-icon2 {
	background: url(../../assets/cellphone.png) no-repeat;
	right: 0;
	background-position: right;
}

.input-icon3 {
	background: url(../../assets/mail.png) no-repeat;
	right: 0;
	background-position: right;
}

.input-icon4 {
	background: url(../../assets/password.png) no-repeat;
	right: 0;
	background-position: right;
}

.link-container {
	align-self: center;
}

.link {
	margin-right: 5px;
}
