.edit-main {
	display: grid;
	grid-template-rows: 10vh 50vh 40vh;
}

.header {
	display: flex;
	border-bottom: 1px solid rgb(224, 216, 216);
}
.text-center {
	margin: auto;
	margin-left: 146px;
}

.btn-logo {
	width: 50px;
	height: 50px;
	margin: auto;
	margin-right: 2px;
	background-image: url(../../assets/arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	background-color: white;
}

.edit-content {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
}
.name-email {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid rgb(184, 175, 175);
	margin-bottom: 20px;
	margin: auto;
}

.inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 50px;
}
.label-input {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	border-bottom: 1px solid rgb(184, 175, 175);
}

.label-input-check {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.btn-placinn {
	width: 70vw;
	margin: 0 auto;
}
.label-input input {
	border: none;
}
