.black-main {
	display: grid;
	grid-template-rows: 10vh 90vh;
}

.black-body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85vw;
	margin-top: 20px;
}

.black-body input {
	height: 35px;
	border: 1px solid rgb(192, 186, 186);
}
