.lancher_main {
	display: grid;
	grid-template-rows: 70vh 30vh;
}

.lancher_logo {
	vertical-align: bottom;
	margin: auto;
}

.lancher_buttons_group {
	margin: 0 auto;
}
.lancher_buttons_group button {
	width: 300px;
	background-color: green;
	color: white;
}
