.comment-main {
	display: grid;
	grid-template-rows: 10vh 40vh 50vh;
}

.comment-input {
	display: grid;
	justify-content: space-evenly;
}

.comment-input input {
	width: 90vw;
	margin: 0 auto;
	margin-bottom: 52px;
	margin-top: -112px;
	border: 1px solid rgb(199, 194, 194);
}

.btn-placinng {
	width: 90vw;
	margin: 0 auto;
}
