.footer-main {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-gap: 10px;
	border-top: 1px solid rgb(236, 233, 233);
	margin-bottom: 10px;
}
.footer-main button {
	width: 58px;
	height: 50px;
	text-align: center;
}

.footer-btn1 {
	background-image: url(../../assets/footer/user.png);
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	border: none;
}
.footer-btn2 {
	background-image: url(../../assets/footer/speak.png);
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	border: none;
}
.footer-btn3 {
	background-image: url(../../assets/footer/butplus.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
}
.footer-btn4 {
	background-image: url(../../assets/footer/speaker.png);
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	border: none;
}
.footer-btn5 {
	background-image: url(../../assets/footer/home-run.png);
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
	border: none;
}
