.claims-item {
	width: 95vw;
	height: 90px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(182, 172, 172);
	display: flex;
	justify-content: space-between;
}
.left-claim {
	display: grid;
	grid-template-rows: 50% 50%;
}
.text-date {
	color: rgb(204, 188, 188);
}
.text-state {
	color: rgb(41, 211, 41);
}
