.profile-main {
	display: grid;
	grid-template-rows: 10vh 20vh 60vh 10vh;
}
.profile-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.profile-head h4 {
	margin: 0 auto;
	margin-top: 29px;
}
.profile-imge {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgb(209, 203, 203);
}
.profile-imge img {
	width: 80px;
	height: 80px;
}

.btn-edit {
	height: 20px;
	width: 34px;
	margin-top: 29px;
	color: greenyellow;
	background-color: white;
	border: none;
	margin-right: 20px;
}

.profile-body {
	display: flex;
	flex-direction: column;
}
.tbtn1 {
	background-color: white;
	border: none;
	background-image: url(../../assets/arrow-point-to-right.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 44px;
	text-align: right;
	color: black;
}
.tbtn2 {
	background-color: white;
	border: none;
	height: 44px;
	text-align: right;
	color: black;
}
.tbtn3 {
	color: red;
	background-color: white;
	border: none;
	height: 44px;
	text-align: right;
}
