.product-main {
	height: 87px;
	width: 80vw;
	display: grid;
	grid-template-columns: 40% 40% 20%;
	margin: 0 auto;
	background-color: white;
	margin: 10px;
	border-radius: 25px;
}

.product-left h4 {
	color: rgb(62, 214, 62);
}
.product-left p {
	color: rgb(206, 193, 193);
}
.product-middle {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-sizing: border-box;
}
.product-right {
	align-items: center;
}
.product-right img {
	margin-top: 15px;
}
