.user-main {
	display: grid;
	grid-template-rows: 10vh 30vh 60vh;
}

.grid-pro {
	display: grid;
}

.user-profiler {
	display: flex;
	justify-content: space-evenly;
}
.btn-st {
	float: right;
	background-color: white;
	border-radius: 25px;
}

.twobt {
	text-align: center;
}

.smbt1 {
	height: 40px;
	width: 40px;
	margin: 5px;
	margin-top: 0px;
	background-image: url(../../assets/chat.png);
	background-repeat: no-repeat;
	background-color: rgb(27, 204, 27);
	background-position: center;
	border-radius: 10px;
	border: none;
}
.smbt2 {
	height: 40px;
	width: 40px;
	margin: 5px;
	margin-top: 0px;
	background-image: url(../../assets/phone.png);
	background-repeat: no-repeat;
	background-color: rgb(27, 204, 27);
	background-position: center;
	border-radius: 10px;
	border: none;
}
.ltbt {
	display: flex;
	width: 80vw;
	margin: 0 auto;
}

.bbt1 {
	height: 43px;
	border-radius: 10px 0px 0px 10px;
	background-color: white;
	border-color: rgb(219, 210, 210);
}
.bbt2 {
	height: 43px;
	border-radius: 0px 10px 10px 0px;
	background-color: white;
	border-color: rgb(219, 210, 210);
}
