.message-item-main {
	display: grid;
	grid-template-columns: 20vw 60vw 20vw;
	height: 90px;
	border-bottom: 1px solid rgb(204, 199, 199);
}

.message-item-icon {
	text-align: center;
}
.message-item-icon button {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: white;
	background-image: url(../../assets/avatars/Avatar.png);
	background-repeat: no-repeat;
	background-size: auto;
	border: none;
}

.message-item-left {
	box-sizing: content-box;
	overflow: hidden;
}
.message-item-right p {
	font-weight: lighter;
}
