.contact-main {
	display: grid;
	grid-template-rows: 10vh 50vh 40vh;
}

.buton-container {
	display: grid;
}
.buttonn-width {
	padding: 20px;
	width: 80vw;
	margin: 0 auto;
}

.social-media-buttons {
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.btn-social1 {
	background-image: url(../../assets/socials/insta.png);
	background-repeat: no-repeat;
	background-position: cover;
	width: 25px;
	height: 30px;
	margin: 20px;
	border: none;
	background-color: white;
}
.btn-social2 {
	background-image: url(../../assets/socials/fcbk.png);
	background-repeat: no-repeat;
	background-position: cover;
	width: 25px;
	height: 30px;
	margin: 20px;
	border: none;
	background-color: white;
}
.btn-social3 {
	background-image: url(../../assets/socials/whatsup.png);
	background-repeat: no-repeat;
	background-position: cover;
	width: 25px;
	height: 30px;
	margin: 20px;
	border: none;
	background-color: white;
}
.btn-social4 {
	background-image: url(../../assets/socials/twitter.png);
	background-repeat: no-repeat;
	background-position: cover;
	width: 25px;
	height: 30px;
	margin: 20px;
	border: none;
	background-color: white;
}

.grid {
	display: grid;
	grid-template-rows: repeat(5, 20%);
	grid-column-gap: 10px;
}
.input-row {
	display: grid;
	border-bottom: 1px solid rgb(177, 170, 170);
	margin-left: 20px;
}
.input-row input {
	border: none;
}
.input-row label {
	color: gray;
}
