body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
* {
	box-sizing: border-box;
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #c4b8b8;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #f1f1f1;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #bbb2b2;
}
.form-group {
	margin-bottom: 15px;
}
.btn-primary {
	outline: none;
	border: none;
	background-color: green;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
}
.btn-primary:hover {
	opacity: 0.7;
}
.btn-secondary {
	outline: none;
	border: none;
	background-color: red;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
}
.btn-secondary:hover {
	opacity: 0.7;
}
.input-primary {
	outline: none;
	padding: 10px 0;
	background: transparent;
	color: #ccc5c5;
	border: none;
	border-bottom: 2px solid #f1f1f1;
}
