.rate-main {
	display: grid;
	grid-template-rows: 10vh 90vh;
}

.rate-body {
	margin-left: 20px;
}
.rate-body textarea {
	width: 80vw;
	margin: 0 auto;
	position: center;
}

.rate-body button {
	width: 85vw;
	margin-top: 30px;
}

.rate {
	float: left;
	height: 70px;
	padding: 0 10px;
}
.rate:not(:checked) > input {
	position: absolute;
	top: -9999px;
}
.rate:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #ccc;
}
.rate:not(:checked) > label:before {
	content: '★ ';
}
.rate > input:checked ~ label {
	color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}
