.select-main {
	display: grid;
	grid-template-rows: 10vh 90vh;
}

.select-header {
	display: inline-flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(212, 196, 196);
}
.select-header button {
	height: 61px;
	width: 47px;
	border: none;
	background-color: white;
	background-image: url(../../assets/x.png);
	background-repeat: no-repeat;
	background-position: center;
}
.select-body {
	display: grid;
	grid-template-rows: repeat(2, 20%);
}

.btn-widthhh {
	width: 80vw;
	margin: 0 auto;
	margin-top: 20px;
}
.btn-widthhh button {
	height: 43px;
}

.tbtn-transparant {
	border-bottom: 1px solid rgb(202, 198, 198);
	width: 85vw;
	margin: 0 auto;
}
.tbtn {
	margin-top: 30px;
	background-color: white;
	border: none;
	background-image: url(../../assets/arrow-point-to-right.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 45px;
	text-align: right;
}
